Repository OpenListTeam/OpenList-Desktop: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, rust-fmt, rust-clippy

.pre-commit-config.yaml:

# Pre-commit hook configuration
# Install with: yarn add -D husky lint-staged
# Then run: npx husky install

repos:
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend Lint
        entry: yarn lint:fix
        language: system
        files: \.(ts|vue|js)$
        
      - id: rust-fmt
        name: Rust Format
        entry: bash -c 'cd src-tauri && cargo fmt --all'
        language: system
        files: \.rs$
        
      - id: rust-clippy
        name: Rust Clippy
        entry: bash -c 'cd src-tauri && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false

fix(desktop): remove Windows long path prefix to fix SQLite database access
  src-tauri/src/utils/path.rs
Due: rust-fmt, rust-clippy

refactor(desktop): update service log path to logs subdirectory
  src-tauri/src/utils/path.rs
Due: rust-fmt, rust-clippy

feat(ui): persist log level filter selection in localStorage
  src/views/LogView.vue
Due: frontend-lint

style: format code
  src-tauri/src/utils/path.rs
Due: rust-fmt, rust-clippy

fix(clippy): use &Path instead of &PathBuf in normalize_path
  src-tauri/src/utils/path.rs
Due: rust-fmt, rust-clippy

feat(ui): persist log filter preferences in settings file
  src-tauri/src/conf/app.rs
  src/types/types.d.ts
  src/views/LogView.vue
Due: frontend-lint, rust-fmt, rust-clippy

fix(clippy) fix panic and clippy errors
  src-tauri/src/cmd/rclone_core.rs
  src-tauri/src/cmd/rclone_mount.rs
Due: rust-fmt, rust-clippy

feat(linux): remove bundled rclone, use system rclone instead
  scripts/prepare.js
  src-tauri/src/utils/path.rs
  src-tauri/tauri.conf.json
  src-tauri/tauri.linux.conf.json
Due: frontend-lint, rust-fmt, rust-clippy

feat(linux): add rclone availability check and installation tip
  src-tauri/src/cmd/rclone_core.rs
  src-tauri/src/lib.rs
  src-tauri/src/utils/path.rs
  src/api/tauri.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/stores/rclone.ts
  src/views/MountView.vue
  src/views/css/MountView.css
Due: frontend-lint, rust-fmt, rust-clippy

fix(deps): resolve security vulnerabilities in dependencies
  package.json
  yarn.lock
Due: none

feat(bundle): add externalBin config for Windows and macOS
  src-tauri/Cargo.lock
  src-tauri/src/utils/path.rs
  src-tauri/tauri.macos.conf.json
  src-tauri/tauri.windows.conf.json
Due: rust-fmt, rust-clippy

refactor(linux): use system rclone only on Linux
  src-tauri/src/utils/path.rs
Due: rust-fmt, rust-clippy

style(rust): fix cargo fmt long string formatting
  src-tauri/src/utils/path.rs
Due: rust-fmt, rust-clippy

fix(clippy): remove needless return statement
  src-tauri/src/utils/path.rs
Due: rust-fmt, rust-clippy

fix(mount): normalize legacy mount settings
  src/stores/app.ts
Due: frontend-lint

refactor(mount): keep legacy normalization minimal
  src/stores/app.ts
Due: frontend-lint

fix(mount): locate macOS FUSE libraries
  scripts/prepare.js
  src-tauri/src/cmd/rclone_mount.rs
Due: frontend-lint, rust-fmt, rust-clippy

fix(mount): gate macOS FUSE environment import
  src-tauri/src/cmd/rclone_mount.rs
Due: rust-fmt, rust-clippy

fix(mount): resolve FUSE environment on all targets
  src-tauri/src/cmd/rclone_mount.rs
Due: rust-fmt, rust-clippy

chore(ci): resolve pull request check failures
  package.json
  src-tauri/src/cmd/binary.rs
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  yarn.lock
Due: rust-fmt, rust-clippy

fix(mount): prevent blank page and improve FUSE compatibility
  package.json
  scripts/prepare.js
  src-tauri/src/cmd/binary.rs
  src-tauri/src/cmd/rclone_mount.rs
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/stores/app.ts
  yarn.lock
Due: frontend-lint, rust-fmt, rust-clippy

fix(core): handle HTTPS monitor configuration
  src-tauri/src/cmd/config.rs
  src-tauri/src/cmd/openlist_core.rs
  src-tauri/src/conf/config.rs
  src/api/tauri.ts
  src/stores/app.ts
  src/views/SettingsView.vue
Due: frontend-lint, rust-fmt, rust-clippy

fix(core): preserve HTTPS connection semantics
  src-tauri/src/cmd/config.rs
  src-tauri/src/cmd/openlist_core.rs
  src-tauri/src/conf/config.rs
  src/api/tauri.ts
  src/stores/app.ts
  src/views/SettingsView.vue
Due: frontend-lint, rust-fmt, rust-clippy

fix(core): avoid invalid HTTPS URL fallback
  src/stores/app.ts
Due: frontend-lint

fix(core): use current reqwest TLS API
  src-tauri/src/cmd/openlist_core.rs
Due: rust-fmt, rust-clippy

style(core): format HTTPS port selection
  src-tauri/src/conf/config.rs
Due: rust-fmt, rust-clippy

fix(core): support HTTPS core monitoring
  src-tauri/src/cmd/openlist_core.rs
  src-tauri/src/conf/config.rs
  src/stores/app.ts
Due: frontend-lint, rust-fmt, rust-clippy

fix(firewall): handle localized rule status
  src-tauri/src/cmd/firewall.rs
  src/components/dashboard/QuickActionsCard.vue
Due: frontend-lint, rust-fmt, rust-clippy

style(firewall): apply rustfmt layout
  src-tauri/src/cmd/firewall.rs
Due: rust-fmt, rust-clippy

fix(firewall): preserve rule status across navigation
  src-tauri/src/cmd/firewall.rs
  src/components/dashboard/QuickActionsCard.vue
Due: frontend-lint, rust-fmt, rust-clippy

fix(mount): improve WebDAV write compatibility
  scripts/prepare.js
  src-tauri/src/cmd/rclone_mount.rs
Due: frontend-lint, rust-fmt, rust-clippy

fix(mount): enable reliable WebDAV writes
  scripts/prepare.js
  src-tauri/src/cmd/rclone_mount.rs
Due: frontend-lint, rust-fmt, rust-clippy

fix(mount): respect core auto launch for startup mounts
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

fix(mount): start core only for local remotes
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

fix(mount): read local remotes from rclone config
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

style(mount): format local core startup logs
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

test(mount): place URL tests after application code
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

feat(mount): add managed network drive mode
  src-tauri/src/cmd/config.rs
  src-tauri/src/cmd/rclone_mount.rs
  src-tauri/src/conf/config.rs
  src-tauri/src/conf/rclone.rs
  src-tauri/src/lib.rs
  src-tauri/src/utils/args.rs
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/stores/app.ts
  src/types/types.d.ts
  src/views/MountView.vue
Due: frontend-lint, rust-fmt, rust-clippy

fix(mount): preserve structured mount paths
  src-tauri/src/cmd/rclone_mount.rs
Due: rust-fmt, rust-clippy

fix(mount): respect option terminators
  src-tauri/src/cmd/rclone_mount.rs
  src-tauri/src/utils/args.rs
Due: rust-fmt, rust-clippy
