Repository OpenListTeam/OpenList-Desktop: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, rust-fmt, rust-clippy

.pre-commit-config.yaml:

# Pre-commit hook configuration
# Install with: yarn add -D husky lint-staged
# Then run: npx husky install

repos:
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend Lint
        entry: yarn lint:fix
        language: system
        files: \.(ts|vue|js)$
        
      - id: rust-fmt
        name: Rust Format
        entry: bash -c 'cd src-tauri && cargo fmt --all'
        language: system
        files: \.rs$
        
      - id: rust-clippy
        name: Rust Clippy
        entry: bash -c 'cd src-tauri && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false

:bug: Fix(custom): fix ci
  .github/workflows/ci.yml
Due: none

:construction: WIP(custom): fix clippy error
  .github/workflows/ci.yml
  README.md
  README_en.md
  src-tauri/src/cmd/config.rs
  src-tauri/src/cmd/custom_updater.rs
  src-tauri/src/cmd/http_api.rs
  src-tauri/src/cmd/logs.rs
  src-tauri/src/cmd/openlist_core.rs
  src-tauri/src/cmd/os_operate.rs
  src-tauri/src/cmd/rclone_core.rs
  src-tauri/src/cmd/rclone_mount.rs
  src-tauri/src/cmd/service.rs
  src-tauri/src/conf/config.rs
  src-tauri/src/core/service.rs
  src-tauri/src/lib.rs
  src-tauri/src/object/methods.rs
  src-tauri/src/tray.rs
  src-tauri/src/utils/path.rs
Due: rust-fmt, rust-clippy

:bug: Fix(custom): add default openlist and rclone version
  scripts/prepare.js
  src-tauri/src/core/service.rs
Due: frontend-lint, rust-fmt, rust-clippy

:construction: WIP(custom): fix clippy errors
  src-tauri/src/cmd/custom_updater.rs
  src-tauri/src/cmd/http_api.rs
  src-tauri/src/cmd/os_operate.rs
  src-tauri/src/cmd/rclone_mount.rs
  src-tauri/src/core/service.rs
  src-tauri/src/tray.rs
Due: rust-fmt, rust-clippy

:construction: WIP(custom): fix clippy errors
  package.json
  src-tauri/src/core/service.rs
  yarn.lock
Due: rust-fmt, rust-clippy

:bug: Fix(custom): fix ci bugs
  .github/workflows/ci.yml
Due: none

:package: Chore(custom): update build command
  src-tauri/tauri.conf.json
Due: none

:bug: Fix(custom): fix action error
  .github/workflows/ci.yml
  .github/workflows/release.yml
  scripts/prepare.js
  src-tauri/packages/linux/openlist.desktop
Due: frontend-lint

:bug: Fix(custom): fix ci
  .github/workflows/release.yml
Due: none

:bug: Fix(custom): fix prepare.js for linux and macos
  .github/workflows/release.yml
  scripts/prepare.js
Due: frontend-lint

:bug: Fix(custom): fix windows scripts syntax
  .github/workflows/release.yml
Due: none

:bug: Fix(custom): add linker for linux
  .cargo/config.toml
Due: none

:bug: Fix(custom): fix linux arm building
  .github/workflows/release.yml
Due: none

:bug: Fix(custom): add creation flags for silent installer on Windows
  src-tauri/src/cmd/binary.rs
  src-tauri/src/cmd/custom_updater.rs
Due: rust-fmt, rust-clippy

chore: bump version to 0.2.0 [skip ci]
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

chore: bump version to 0.3.0 [skip ci]
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

feat: add notification system for log actions and update styles
  src-tauri/src/cmd/http_api.rs
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/views/LogView.vue
  src/views/css/LogView.css
Due: frontend-lint, rust-fmt, rust-clippy

feat: implement clear logs functionality with source selection and notifications
  src-tauri/src/cmd/logs.rs
  src-tauri/src/tray.rs
  src/api/tauri.ts
  src/composables/useLogs.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/stores/app.ts
  src/views/LogView.vue
Due: frontend-lint, rust-fmt, rust-clippy

chore: bump version to 0.4.0 [skip ci]
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

:bug: Fix(custom): fix update_progress type bugs
  src-tauri/src/cmd/http_api.rs
  src-tauri/src/object/structs.rs
Due: rust-fmt, rust-clippy

:sparkles: Feature(custom): route to dashboard page before tutorial start
  src/views/SettingsView.vue
Due: frontend-lint

:bug: Fix(custom): fix mount config update and delete bugs
  src-tauri/capabilities/default.json
  src-tauri/src/cmd/http_api.rs
  src-tauri/src/lib.rs
  src/api/tauri.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/stores/app.ts
  src/types/index.ts
  src/views/MountView.vue
  src/views/css/MountView.css
Due: frontend-lint, rust-fmt, rust-clippy

chore: bump version to 0.5.0 [skip ci]
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

feat: change default install path and set directory permissions in installer close #38
  scripts/prepare.js
  src-tauri/packages/windows/installer.nsi
Due: frontend-lint

feat: check D: drive existence and fallback to PROGRAMFILES
  src-tauri/packages/windows/installer.nsi
Due: none

docs(readme): standardize the flag format of rclone
  README.md
Due: none

:bug: Fix(custom): remove TitleBar on Mac
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src/App.vue
  yarn.lock
Due: frontend-lint, rust-fmt, rust-clippy

fix: update log dir for linux and windows
  src-tauri/src/utils/path.rs
Due: rust-fmt, rust-clippy

fix: update log dirs for linux and windows
  src-tauri/src/utils/path.rs
Due: rust-fmt, rust-clippy

chore: refactor APPDATA variable retrieval for clarity
  src-tauri/src/utils/path.rs
Due: rust-fmt, rust-clippy

fix: update version to 0.7.0 and improve data directory handling
  src-tauri/Cargo.lock
  src-tauri/src/utils/path.rs
Due: rust-fmt, rust-clippy

fix: fix clippy error
  src-tauri/src/cmd/rclone_core.rs
Due: rust-fmt, rust-clippy

feat(ci): migrate Windows signing to Certum cloud code signing
  .github/workflows/build-test.yml
Due: none

feat(sign): add certum scripts
  .github/scripts/Connect-SimplySign-Enhanced.ps1
  .github/scripts/Sign-Tauri-Windows.ps1
  .github/scripts/configure-simplysign-registry.ps1
  .github/scripts/install-simplysign.sh
Due: none

feat(ci): migrate Windows signing to Certum cloud code signing in release workflow
  .github/workflows/release.yml
Due: none

feat(ci): support multi-architecture Windows binary signing
  .github/scripts/Connect-SimplySign-Enhanced.ps1
  .github/scripts/Sign-Tauri-Windows.ps1
Due: none

fix(ci): disable Tauri automatic signing for Windows during build
  .github/workflows/build-test.yml
  .github/workflows/release.yml
Due: none

fix(deps): upgrade vite to 7.1.11 and override tmp to 0.2.4 to fix security vulnerabilities
  package.json
  yarn.lock
Due: none

fix(ci): fixed ci
  .github/workflows/build-test.yml
Due: none

ficed ci
  yarn.lock
Due: none
